@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

.logo {
  color: #000;
  text-decoration: none;
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1px);
    color: white;
  }
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  cursor: pointer;
}

header {
  background: pink;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.auth-options {
  button {
    padding: 0 1rem;
    font-size: 1rem;

    &:hover {
      transition: all 0.3s ease;
      transform: scale(1px);
      color: white;
    }
  }

  .auth-options,
  button:focus {
    outline: none;
  }
}

.page {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    margin: 0.5rem;
  }
}

.container {
}

// form
.form {
  width: 600px;
  padding: 0.8rem;
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.3rem;
    border: solid gray 1px;
    border-radius: 7px;
  }

  input:focus {
    border: 1px solid #ffa5a5;
    box-shadow: inset 0px 0px 3px rgba(233, 162, 162, 0.5);
    outline: none;
  }

  input {
    margin-bottom: 1rem;
  }

  label {
    margin-bottom: 0.2rem;
  }
  input,
  label {
    display: block;
  }
  input[type="submit"] {
    border: 1px solid #3b2929;
    background: #fafafa;
    padding: 0.3rem 0.5rem;
    font-size: 1.1rem;
    border-radius: 7px;

    &:hover {
      background: #999;
    }
  }
}

// Error notice
.error-notice {
  border: 1px solid rgb(109, 97, 97);
  background: rgb(243, 121, 121);
  padding: 0.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  button {
    font-size: 1rem;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.2rem;
  }
  button {
    font-size: 0.8rem;
  }

  header button {
    font-size: 0.9rem !important;
  }
}
